<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Learning">

    <listeners>
        <listener class-name="TestNG.Listener.Listener"/>
    </listeners>

    <test name="TestNG Basics">
        <parameter name="username" value="Sabari"/>
        <parameter name="password" value="Sabari@123"/>
        <parameter name="browser" value="Edge"/>

        <!-- <classes>
            <class name="TestNG.Listener.Implementation"/>
        </classes> -->

        <packages>
            <package name="TestNG"/>
        </packages>
    </test>
</suite>